<h1>Duck sightings</h1>

<button type="button" class="btn btn-success" data-ng-click="openModal()"
        data-toggle="modal"><span
        class="glyphicon glyphicon-plus"></span> Add sighting
</button>

<div class="panel panel-default" data-ng-repeat="sighting in sightings">
    <div class="panel-heading">
        <div class="col-xs-1"><span class="badge">{{sighting.count}}</span></div>
        <div class="col-xs-7">{{sighting.species}}</div>
        <div class="col-xs-4">{{sighting.date}}</div>
    </div>

    <div class="panel-body">
        <div class="row">
            {{sighting.description}}
        </div>

        <div class="row">

        </div>
    </div>
</div>

